* {
    font-family: 'Lato', sans-serif;
}

html,body,.body-content {
    height:100%;
}
.container {
    display:table;
    width: 100%;
    margin-top: -50px;
    padding: 50px 0 0 0; /*set left/right padding according to needs*/
    box-sizing: border-box;
}
header {
    background: #2c2f33 !important;
    height: 75px !important;
    border-radius: 0 !important;
}

.row {
    height: 100%;
    display: table-row;
}

.col-md-2 {
    background: #f2f2f2;
}
.col-md-10 {
    background: #FFFFFF;
}

.row .no-float {
    display: table-cell;
    float: none;
}


#nav-links {
    position: absolute;
    top: 0;
    left: 75px;
    color: #CCC;
    text-align: center;
    padding: 0 0 0 5px;
}
#nav-links li a {
    color: #CCC;
}
#nav-links li {
    display: inline-block;
    line-height: 75px;
    padding-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 30px;
}
#nav-links li *:hover {
    color: #FFF;
    text-decoration: none;
}
#nav-links li.muted-pipe:hover {
    color: #CCC;
}

.muted-pipe {
    font-size: 60px !important;
    line-height: 60px !important;
    opacity: 0.5;
}

#header-logo {
    height: 65px;
    margin: 5px;
}

#footer {
    background-color: #e6e6e6;
}

#discord-indicator {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 30px;
}

@media (max-width: 767px) {
    #nav-links li {
        font-size: 15px;
    }
    #discord-indicator {
        height: 20px;
    }
}
#news {
    padding-bottom: 5px;
}
.news {
    min-width: 100%;
    min-height: 100px;
    border-radius: 3px;
    background-color: #EEE;
    border: 2px solid #CCC;
    box-sizing: border-box;
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: left;
}
.author {
    background-color: #FFF;
    text-align: left;
    padding: 3px;
    font-size: 1.5em;
}
.user-icon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: inline-block;
    margin-right: 5px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
}
.bottersnike {
    background-image: url("https://cdn.discordapp.com/avatars/161508165672763392/1a0a73a9c722eb87463071f3032a9ce3.png?size=32");
}
.zwei {
    background-image: url("https://cdn.discordapp.com/avatars/100764870617624576/e459bcaf749038ab18b5c8cababf0f54.png?size=32");
}
.noahkiq {
    background-image: url("https://cdn.discordapp.com/avatars/140564059417346049/a_2a50c294768489381ba924a9aab9a9c5.png?size=32");
}
.adamthedog {
    background-image: url("https://cdn.discordapp.com/avatars/210907256068374529/665afa4c6fc56ab9aeeb9eaea555f9a7.png?size=32");
}